{% extends "layout.html" %}
{% block content %}
    <!-- Services -->
    <section id="overview">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Overview</h2>
            <h3 class="section-subheading text-muted">keywords:
               machine learning, unobtrusive patient monitoring, post-traumatic stress disorder, <br/>
               sympathetic activation of the autonomic nervous system, VR-augmented therapy</h3>
             <p>
             The goal of this research is to further our understanding and
             clinical management of Canadian Forces service members and
             veterans suffering from a complex medical triad of traumatic brain
             injury, chronic pain, and post-traumatic stress disorder. Over
             half of rehabilitation patients experience one or more of these
             complex medical conditions, often associated with intractable
             symptoms which do not respond to traditional treatment options,
             and impairing their ability to function effectively at work and in
             the community.
             </p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-h-square fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Existing Treatment</h4>
            <p class="text-muted">
             Using a Computer Assisted Rehabilitation
             Environment (CAREN) this research will collect and consolidate a
             series of non-invasive whole-body biological measurements from
             patients during immersive therapy sessions in the CAREN Virtual
             Reality facility.
            </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-cloud fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Cloud Analytics</h4>
            <p class="text-muted">
             High-performance computing and machine learning
             will be used to develop and deploy real-time estimators of SAANS.
            </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-users fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Improved Outcomes</h4>
            <p class="text-muted">
             These systems will allow clinicians to create individualized
             treatment plans for patients, thereby maximizing rehabilitation
             benefits and avoiding costly setbacks in patient treatment.</p>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- News -->
    <section id="news">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">News</h2>
            <h3 class="section-subheading text-muted">Media publicity and coverage</h3>
            <h3>Military and Veteran health research boosted by $12M data science partnership</h3>
             <p class="text-muted">A new initiative aims to use novel data science technologies to support physical and mental health research for Canada’s military personnel, Veterans and their families</p>
             <p align="left">
             They sacrifice their lives to keep us safe and to protect the values that Canadians hold dear. The Canadian men and women who serve in the military, Veterans, and their families, face many diverse experiences overseas, and upon their return to Canada, which puts them at greater risk for physical, social and mental health issues. Conditions such as post-traumatic stress disorder (PTSD), chronic pain, and moral injury are among some of the common issues faced by those who serve and protect.</p>

             <p>Read more:
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                 <a href="https://www.soscip.org/innovators/military-and-veteran-health-research-boosted-by-12m-data-science-partnership/">
                  <i class="fa fa-link"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com/SOSCIP_Research/status/1039930005978005504">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/feed/update/urn:li:activity:6445697025693540353/">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
             </p>

             <h3>Advanced Analytics Initiative</h3>
             <p align="left">Through the joint efforts of CIMVHR, IBM Canada Ltd. and Babcock Canada Inc., the Advanced Analytics Initiative was established to fund cutting-edge research using ‘big data’ analytics, machine learning and other novel approaches to health solutions for Canadian military personnel, Veterans and their families.</p>

             <p>Read more:
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                 <a href="https://cimvhr.ca/advanced-analytics-initiative">
                  <i class="fa fa-link"></i>
                </a>
              </li>
              <li class="list-inline-item">
                 <a href="https://twitter.com/CIMVHR_ICRSMV/status/1039931235714445318">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                 <a href="https://cimvhr.ca/documents/pdf/Advanced-Analytics-Initiative-en.pdf">
                  <i class="fas fa-file-pdf"></i>
                </a>
              </li>
            </ul>
             </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Our Team</h2>
            <h3 class="section-subheading text-muted">Researchers, medical professionals, and the Canadian Forces.</h3>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="/static/img/team/jrgreen.jpg" alt="James R. Green">
              <h4>James R. Green</h4>
              <p class="text-muted">Associate Professor, <br/>Carleton University, <br/>co-Principle Investigator</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="/static/img/team/adcchan.jpg" alt="Adrian D. C. Chan">
              <h4>Adrian D. C. Chan</h4>
              <p class="text-muted">Professor, <br/>Carleton University, <br/>co-Principle Investigator</p>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-4">
            <div class="team-member">
               <!--  <img class="mx-auto rounded-circle" src="/static/img/team/jrgreen.jpg" alt="James R. Green"> -->
              <h4>Dr. Jen McDonald</h4>
              <p class="text-muted">Physiatrist, <br/>The Ottawa Hospital Rehab Centre, <br/>Partner</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
               <!--  <img class="mx-auto rounded-circle" src="/static/img/team/jrgreen.jpg" alt="James R. Green"> -->
              <h4>Janet Holly</h4>
              <p class="text-muted">Physiotherapist, <br/>The Ottawa Hospital Rehab Centre, <br/>Partner</p>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-4">
            <div class="team-member">
               <!--  <img class="mx-auto rounded-circle" src="/static/img/team/jrgreen.jpg" alt="James R. Green"> -->
              <h4>L.Col Dr. Markus Besemann</h4>
              <p class="text-muted">Military Physiatrist, <br/>Canadian Forces, Health Services, <br/>Partner</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
               <!--  <img class="mx-auto rounded-circle" src="/static/img/team/jrgreen.jpg" alt="James R. Green"> -->
              <h4>Col Dr. Rakesh Jetly</h4>
              <p class="text-muted">Physiatrist, <br/>Canadian Forces, Health Services, <br/>Partner</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
               <!--  <img class="mx-auto rounded-circle" src="/static/img/team/jrgreen.jpg" alt="James R. Green"> -->
              <h4>Dr. Gaurav Gupta</h4>
              <p class="text-muted">Physiatrist, <br/>Canadian Forces, Health Services, <br/>Partner</p>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-4">
            <div class="team-member">
               <!--  <img class="mx-auto rounded-circle" src="/static/img/team/jrgreen.jpg" alt="James R. Green"> -->
              <h4>Andrew Smith</h4>
              <p class="text-muted">Postdoctoral Fellow, <br/>Carleton University, and<br/>The Ottawa Hospital Rehab Centre</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
               <!--  <img class="mx-auto rounded-circle" src="/static/img/team/jrgreen.jpg" alt="James R. Green"> -->
              <h4>Alistair Boyle</h4>
              <p class="text-muted">Postdoctoral Fellow, <br/>Carleton University</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
               <!--  <img class="mx-auto rounded-circle" src="/static/img/team/jrgreen.jpg" alt="James R. Green"> -->
              <h4>Roger Selzler</h4>
              <p class="text-muted">Ph.D. Student, <br/>Carleton University</p>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-4">
            <div class="team-member">
               <!--  <img class="mx-auto rounded-circle" src="/static/img/team/jrgreen.jpg" alt="James R. Green"> -->
              <h4>Courtney Bridgewater</h4>
              <p class="text-muted">The Ottawa Hospital Rehab Centre</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
               <!--  <img class="mx-auto rounded-circle" src="/static/img/team/jrgreen.jpg" alt="James R. Green"> -->
              <h4>Dorothyann Curran</h4>
              <p class="text-muted">The Ottawa Hospital Rehab Centre</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
               <!--  <img class="mx-auto rounded-circle" src="/static/img/team/jrgreen.jpg" alt="James R. Green"> -->
              <h4>Francois Charih</h4>
              <p class="text-muted">M.A.Sc. Student, <br/>Carleton University</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Partners -->
    <section class="py-5" id="partners">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Partners</h2>
            <h3 class="section-subheading text-muted">Industrial and institutional partners.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 p-3">
             <p><a href="https://www.ottawahospital.on.ca/en/clinical-services/deptpgrmcs/departments/rehabilitation-centre/">
               <img class="img-fluid d-block mx-auto" src="/static/img/logos/ottawahospital.svg" alt="The Ottawa Hospital">
             </a></p>
          </div>
          <div class="col-md-4 col-sm-6 p-3">
             <p><a href="https://sce.carleton.ca">
               <img class="img-fluid d-block mx-auto" src="/static/img/logos/carleton.svg" alt="Carleton University">
            </a></p>
          </div>
          <div class="col-md-4 col-sm-6 p-3">
            <a href="https://cimvhr.ca">
              <img class="img-fluid d-block mx-auto" src="/static/img/logos/cimvhr.svg" alt="Canadian Insitute for Military and Veteran Health Research">
            </a>
          </div>
          <div class="col-md-4 col-sm-6 p-3">
            <a href="https://mitacs.ca">
              <img class="img-fluid d-block mx-auto" src="/static/img/logos/mitacs.svg" alt="MITACS">
            </a>
          </div>
          <div class="col-md-4 col-sm-6 p-3">
            <a href="https://ibm.ca">
              <img class="img-fluid d-block mx-auto" src="/static/img/logos/ibm.svg" alt="IBM">
            </a>
          </div>
          <div class="col-md-4 col-sm-6 p-3">
            <a href="https://soscip.org">
              <img class="img-fluid d-block mx-auto" src="/static/img/logos/soscip.svg" alt="SOSCIP">
            </a>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
