app/node_modules
app/ios
venv/
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.ropeproject
www/config.py
www/slack.cfg
www/.well-known
www/node_modules
www/bikeshed/static/css/agency.css
www/bikeshed/static/css/agency.min.css
www/bikeshed/static/js/agency.js
www/bikeshed/static/js/agency.min.js
www/bikeshed/static/js/contact_me.js
www/bikeshed/static/js/contact_me.min.js
www/bikeshed/static/js/jqBootstrapValidation.js
www/bikeshed/static/js/jqBootstrapValidation.min.js
www/bikeshed/static/js/flow.js
www/bikeshed/static/js/flow.min.js
www/bikeshed/static/vendor/

