{% extends "layout.html" %}
{% block header %}
    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading text-uppercase">SAANS during Treatment</div>
        </div>
      </div>
    </header>
{% endblock %}
{% block body %}
    <section id="overview">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
             <h2>{% block title %}{% block contenttitle %}{% endblock %}{% endblock %}</h2>
             {% for message in get_flashed_messages() %}
               <div class="flash">{{ message }}</div>
             {% endfor %}
             {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </section>
{% endblock %}
