{% extends "base.html" %}
{% block contenttitle %}Privacy and Confidentiality{% endblock %}
{% block content %}
            <h3 class="section-subheading text-muted">Data collected for this
               study will be subject to the secure data protocols established
               by the Ottawa Hospital Research Institute and the Ottawa Health
               Sciences Network Research Ethics Board which utilize the
               services of a staff Privacy Officer.</h3>
             <p>
             All
information collected during a patients participation in this study will be identified with a
unique study number (for example participant # AB01), and will not contain information
that identifies the patient. Information leaving the hospital will only contain this unique
study number.</p>
             <p>
A Master List will be created so that a link can be made between identifying information
and the unique study number. This list will only be available to identified project staff
and will not leave the hospital. It will be stored in a separate file on a separate computer
that is password protected on the hospital network. Personal health information
collected for the study will be released only if it is required by law. Original medical
records and research records may be reviewed under the supervision of project staff by
representatives from the Ottawa Health Science Network Research Ethics Board
(OHSN-REB), the Ottawa Hospital Research Institute, and Carleton University Ethics
Board.</p>
             <p>
De-identified data from the study will be shared with Carleton University and stored on
SOSCIP servers. Participants will not be identified in any publications or presentations
resulting from this study. Research records will be kept for 10 years, as required by the
OHSN-REB. At the end of the storage time, all paper records will be shredded and all
electronic records will be securely deleted.
             </p>
{% endblock %}
